.ih-component-header {
    @include position(fixed,top,0,left,0);
    z-index: 999;
    width: 100%;
    @include smbelow {
        background: #fff;
    };

    .ih-section-mobile {
        .ih-logo {
            img {
                height: $header-height-mobile;
                width: auto;
            }
        }

        button {
            @include font(30px,$header-height-mobile,$color-black);
        }
    }

    .ih-section-menu {
        @include smbelow {
            display: none;
            height: calc(100vh - #{$header-height-mobile});
            overflow-y: auto;
        };

        .ih-container-custom {
            @include smbelow {
                padding: 0;
            };
        }

        ul {
            @include md {
                float: right;
            };

            li {
                @include md {
                    display: inline-block;
                };
            }
        }

        .ih-section-top {
            background: $color-black;

            ul {
                li {
                    @include md {
                        margin-left: 15px;
                    };

                    a {
                        @include font(15px,40px,#fff);
                        @include smbelow {
                             @include box(padding,0 15px,border-bottom,1px solid #fff,margin,0);
                        };

                        i {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        .ih-section-main {
            background: rgba(255,255,255,0.8);
            transition: $transition-time;

            &:hover {
                background: rgba(255,255,255,1);
            }

            .ih-logo {
                img {
                    height: $header-height-pc-main;
                    width: auto;
                }
            }

            ul {
                li {
                    @include md {
                        margin-left: 30px;
                    };

                    &:first-child a {
                        @include smbelow {
                            border-top: none;
                        };
                    }

                    a {
                        @include font(18px,$header-height-pc-main,$color-black);
                        padding: 0 5px;
                        @include smbelow {
                            text-align: center;
                            line-height: 50px;
                            border-top: 1px solid $color-black;
                        };

                        &.ih-active,
                        &:hover {
                            color: $color-blue;
                            transition: $transition-time;

                            &:after {
                                @include md {
                                    content: "";
                                    @include position(absolute,bottom,0,left,0);
                                    width: 100%;
                                    height: 5px;
                                    background: $color-black;
                                    border-radius: 5px;
                                };
                            }
                        }
                    }
                }
            }
        }
    }
}
