.ih-component-loading {
    @include position(fixed,top,0,left,0);
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.96);

    img {
        @include position(fixed,top,50%,left,50%);
        transform: translate(-50%,-50%);
    }
}
