/* Setting */
$font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", sans-serif;
$header-height-pc-top: 40px;
$header-height-pc-main: 80px;
$header-height-pc: ($header-height-pc-top + $header-height-pc-main);
$header-height-mobile: 40px;
$form-element-height: 40px;
$transition-time: 0.6s;
/* Color */
$color-black: #373b47;
$color-gray: #909090;
$color-gray-light: #c0c0c0;
$color-gray-bg: #f4f4f4;
$color-blue: #2db4d1;
$color-blue-dark: #0a88a1;
$color-red: #f54f60;
$color-yellow: #ecb734;
